.projectsBlock {
    /*min-height: 100vh;*/
    background-color: #111010;
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
}


.projects {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*до тех пор пока максимальная ширина не будет равна 921*/
@media screen and (max-width: 921px) {
    .projects {
        justify-content: center;
    }
}