.projectsBlock {
    min-height: 100vh;
    background-color: #c7b054;
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #ded9d9;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}