@import "src/common/styles/sass/wariables";


.projectsBlock {
  background-color: $bgColor;

  .projectContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      //@media (min-width: 992px) and (max-width: 1199.98px) {
      //  width: 1000px;
      //}
    }

  }
}

