.skillsBlock {
    min-height: 100vh;
    background-color: var(--background-dark-theme);
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #ded9d9;
}


.skills {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*box-sizing: border-box;*/
}
