.contactsBlock {
    height: 100vh;
    background-color: #0ea0cd;
}

.title {
    background-color: #ded9d9;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}


.forms {
    border: 1px solid;
    width: 100%;
    /*height: auto;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}