@import "src/common/styles/sass/wariables.sass";

.contactsBlock {
  min-height: 100vh;
  background-color: $bgColor;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .forms {
      width: 100%;
      //height: auto;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

//.title {
//    background-color: #ded9d9;
//}




