.footerBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 40vh;
    background-color: #282828;
}

.footerContainer {
    align-content: stretch;
    align-items: flex-end;
    justify-content: center;
    border: 1px solid white;
    padding: 5px;
}


.title {
    color: #ded9d9;
    background-color: #258c70;
}


.footerElements {
    border: 1px solid;
    width: 100%;
    /*height: auto;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerText {
    color: #ded9d9;
}